body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_block{
  width: 30%;
  height: 6rem;
  border: 6px #071859 solid;

  margin: auto;
  margin-top: 15%;
  display: flex;
  border-radius: 1%;
  color:#0005d4;
background-color: #1552f3;
}
.sub_block{
  width: 18%;
  height: 60%;
  border: 3.5px #071859 solid;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 3%;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  background-color: #7adfd5;
}
.sp
{
  align-self: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}